{% load widget_tweaks %}
<div class="modal-header">
  <h3 class="modal-title">Book details</h3>
  <button type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close">
    <span aria-hidden="true">&times;</data-bs-dismiss ="modal"
    </button>
  </div>
  <div class="modal-body">
    <div class="">
      Title:
      {{ obj.title }}
    </div>
    <div class="">
      Author:
      {{ obj.author }}
    </div>
    <div class="">
      Price:
      {{ obj.price }}
      €
    </div>
    <div class="">
      Pages:
      {{ obj.pages }}
    </div>
    <div class="">
      Type:
      {{ obj.get_obj_type_display }}
    </div>
    <div class="">
      Publication date:
      {{ obj.publication_date }}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
  </div>
