{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'crm/css/printstyle.css' %}">
{% endblock head %}
{% block content %}
    <table id="objs-table" class="table">
        <thead>
            <tr>
                <th>ID:</th>
                <th>{{ obj.id }}</th>
            </tr>
            <tr>
                <th>Username:</th>
                <th>{{ obj.username }}</th>
            </tr>
            <tr>
                <th>Phone:</th>
                <th>{{ obj.phone }}</th>
            </tr>
            <tr>
                <th>Email:</th>
                <th>{{ obj.email }}</th>
            </tr>
            <tr>
                <th>Register Date:</th>
                <th>{{ obj.regdate|date:"Y-m-d (H:i)" }}</th>
            </tr>
            <tr>
                <th>Updated:</th>
                <th>{{ obj.updated|date:"Y-m-d (H:i)" }}</th>
            </tr>
            <tr>
                <th>Active:</th>
                <th>{{ obj.is_active }}</th>
            </tr>
            <tr>
                <th>Staff:</th>
                <th>{{ obj.is_staff }}</th>
            </tr>
            <tr>
                <th>Superuser:</th>
                <th>{{ obj.is_superuser }}</th>
            </tr>
        </thead>
    </table>
    <center>
        <button onclick="window.print();" class="print-button noPrint">
            <span class="print-icon"></span>
        </button>
    </center>
{% endblock content %}
